@model CMS.Models.CMSModel.EventCategory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EventCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Outdoor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Outdoor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Family)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Family)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventCatID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
